{% extends "Main_app/base.html" %}
{% block content%}
    <div class="container">
        <div class="row ">
            <div class='col-md-2'>
                <h3 class='text-center'>Refrences</h3>
                <br>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4"><div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Predus:</h5>
                  <p class="card-text">PredUs is a method to predict protein-protein interfaces of a given monomeric query protein using its close and remote structural neighbors. Potential interfacial residues are identified by iteratively “mapping” interaction sites of each structural neighbor involved in a complex to individual residues in the query protein (see figure). Residues which frequently have interactions mapped to them are defined to be interfacial. </p>
                  <a href="https://honiglab.c2b2.columbia.edu/PredUs/index_omega.html" target="_blank" class="card-link">Predus</a>
                </div>
              </div></div>
            <div class="col-md-4"><div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Ispred:</h5>
                  <p class="card-text">ISPRED4 (Interaction Site PREDictor version 4) is a web-server for predicting protein-protein interaction sites starting from protein structure. ISPRED4 adopts machine-learning methods (SVM+CRF) to predict interaction state of each residue in the protein surface by extracting several features from protein sequence and structure. </p>
                  <a href="https://ispred4.biocomp.unibo.it/welcome/default/index" target="_blank" class="card-link">Ispred</a>
                </div>
              </div></div>
            <div class="col-md-4"><div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Dockpred:</h5>
                  <p class="card-text"> short description </p>
                  <a href="" class="card-link">Dockpred</a>
                </div></div>




{% endblock content%}
